.landing {
  position: relative;
  height: 50vh;
  margin-top: -50px;
  background-color: #efefef;
  background-image: url("./imgs/bass-guitar.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.landing-inner {
  padding-top: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}

.feature-icons {
  height: 40vh;
}

.feature-icons-inner {
  padding: 50px;
}

.enlarge:hover {
  transform: scale(1.1);
}

.feature-text {
  height: 500px;
  padding: 125px 20px 0px 20px;
  background-color: #efefef;
}

.feature-image {
  height: 500px;
  background-color: black;
}

.f-img-1 {
  background: url("./imgs/guitar-player.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.f-img-2 {
  background: url("./imgs/mixer.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.f-img-3 {
  background: url("./imgs/drums.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.testimonials {
  height: 550px;
  padding-top: 50px;
}

.custom-card {
  width: 100%;
  height: 100%;
  border: 0;
}

.card-img-top {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  color: blue;
}

.landing-bottom {
  position: relative;
  height: 300px;
  margin-bottom: -50px;
  background-color: #efefef;
  background: url("./imgs/mics.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.landing-bottom-inner {
  padding-top: 50px;
}

.overlay-bottom {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  height: 150px;
}

.footer-inner {
  padding-top: 30px;
}

.landing-social-links span:hover {
  opacity: 0.8;
}

.social-link-bg {
  color: blue;
}

.profile-view-social-link {
  color: white;
}

/* create account */
.standard-form {
  padding-top: 50px;
  padding-bottom: 50px;
}
