@import "styles/_colors.scss";

.landing {
  position: relative;
  height: 60vh;
  margin-top: -50px;
  background-color: #efefef;
  background-image: url("./imgs/bass-guitar.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.landing-inner {
  padding-top: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}

.feature-icons {
  height: 100%;
}

.feature-icons-inner {
  padding: 50px;
}

.enlarge:hover {
  transform: scale(1.1);
}

.feature-text {
  height: 500px;
  padding: 125px 20px 0px 20px;
  background-color: #efefef;
}

.feature-image {
  height: 500px;
  background-color: black;
}

.f-img-1 {
  background: url("./imgs/guitar-player.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.f-img-2 {
  background: url("./imgs/mixer.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.f-img-3 {
  background: url("./imgs/drums.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.testimonials {
  height: 100%;
  padding-top: 50px;
}

.custom-card {
  width: 100%;
  height: 100%;
  border: 0;
}

.card-img-top {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  color: blue;
}

.landing-bottom {
  position: relative;
  height: 300px;
  margin-bottom: -50px;
  background-color: #efefef;
  background: url("./imgs/mics.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.landing-bottom-inner {
  padding-top: 50px;
}

.overlay-bottom {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  height: 100%;
}

.footer-inner {
  padding-top: 30px;
}

.social-link-bg {
  @include social-links(#efefef);
}

.profile-social-links {
  display: flex;
  justify-content: center;
}

.profile-card {
  height: 450px;
}

.profile-avatar {
  max-height: 150px;
  max-width: 150px;
}

/* create account */
.standard-form {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* COLOR SCHEME */
.bg-darkwood {
  background-color: $main-navigation;
}

.bg-custom-dark {
  background-color: $profile-bg;
}

.btn-custom-primary {
  @include custom-btn(#040556);
}

.btn-custom-secondary {
  @include custom-btn(#636160);
}

.btn-custom-danger {
  @include custom-btn(#561d00);
}

.text-custom-danger {
  color: $danger-text;

  &:hover,
  &:active {
    color: lighten($danger-text, 10%);
  }
}

.btn-custom-outline-secondary {
  @include custom-btn-outline(#636160);
}

.btn-custom-actions {
  @include custom-btn-outline(#14330a);
}

.text-custom-actions {
  color: $action-text;
}

/* BOOTSTRAP OVERRIDE CLASSES */
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
